html,
body {
  font-family: 'Open Sans', sans-serif;/*The font-family property sets the font style to open sans*/
  text-align: center;                   /* the text-align property aligns the text to the center*/
}

* {
  margin: 0;    /*The margin CSS property sets the margin area on all four sides of an element. */
  padding: 0;   /* Padding is the space between the border and the content so that if you have text in an element, the padding helps 
                 to make sure the text does not touches the border. Just like an actual box full of contents (such as a package you might want to ship out), you can add foam, or padding, around the contents so that it doesn't touch the sides of the (border) box. */

                /* If the value is 0 then why we're specifing?
                 Ans: The main reason this is used is because sometimes the browser will apply it's default margin/padding to elements, and in a case where you do not want there to be any margin or padding space around an element you will want to define that there is no margin or padding.
                */
}

.intro {
  top: 0;       /*Set the top edge of the positioned element*/
                /* If the value is 0 then why we're specifing?
                 Ans: The main reason this is used is because sometimes the browser will apply it's default margin/padding to elements, and in a case where you do not want there to be any margin or padding space around an element you will want to define that there is no margin or padding.
                */
  background: rgba(200,247,197,1);
  min-height: 55vh;/*min height sets the minimum height to 5vh*/
                    /*vh means 55% of the viewport height*/
  padding-top: 45vh;/*Adds a padding of 45% of viewport height to the top*/
}

.intro p {
  color: green;
}

nav ul {
  text-align: right;
  position: fixed;/*position property sets positioned relative to the viewport, 
                  which means it always stays in the same place even if the page is scrolled.*/
  width: 100%;  /*width property sets the width to 100% of the containing block*/
  background-image: linear-gradient(to right, rgba(200,247,197,0), rgba(20,24,19,1));
}

nav ul li {
  display: inline-block;/*display property specifies the display behavior (the type of rendering box) of an element.*/
                        /*inline-block allows to set a width and height on the element and the top and bottom margins/paddings are respected*/
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
  
}

nav ul li a {
  color: white;
  text-decoration: none;/*text decoration specifies the decoration added to text*/
                        /*it can be described as type of line(underline, overline, line-through), color and style(solid, wavy, dotted, dashed, double)*/
}

nav ul li a:hover {/*hover selector is used to select elements when you mouse over them */
  color: black;
}*

.web_design{
  text-decoration: none;
  color: #008080;
  display: inline-block;
  overflow: hidden;
  border: 2px solid lightblue;
  height: 100px;
  width: 280px;
  margin: 20px 40px;

}
.skill-title {
  font-weight: bold;
  margin:40px 40px;
}


@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }

  nav ul li {
    margin: 20px;
  }

  .project {
    margin: 40px 0;
  }
}
.contact {
  /*   height:800px; */
  /*   min-height:800px; */
  background: #C8F7C5;
  padding-bottom: 160px;
}

.header {
  padding: 160px 0 110px; /*the 3 values indicates padding to the top, right and bottom of the element*/
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;      /*"list-style-type"specifies the type of list-item marker in a list(circle, square, disc, etc)
                              none indicates no marker is shown*/
  border: 2px solid #90C695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;         /* line-height property sets the amount of space used for lines, such as in text */
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
}

.contact-details:hover {    /* The :hover selector is used to select elements when you mouse over them. */
  background: #E4F1FE;
  color: green;
}

footer {
  padding: 20px;
  background: #22313F;
  color: white;
  line-height: 40px;
}

footer a {
  color: white;
}

/*The @media rule is used in media queries to apply different styles for different media types/devices
such as width and height of the viewport or device, resolution, etc*/
@media only screen and (max-width: 367px) {/*type of media, "screen" indicates it is used for computer screens, tablets, smart-phones etc.*/
  /*    #contact{
    min-height:1100px; 
  } */
  .contact-details {
    border: 2px solid #90C695;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;/*It defines a normal line height. It is the default value of this property */
  }
}
